@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --violet: hsl(257, 40%, 49%);
    --softmagenta: hsl(300, 69%, 71%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--violet);
}

main{
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 35px;
    font-family: 'Open Sans';
    color: white;
}

header{
    margin-bottom: 55px;
}

header img{
    width: 110px;
}

article{
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
}

article .image-container{
    display: flex;
    justify-content: center;
}

article .image-container img{
    width: 100%;
    max-width: 425px;
    
}

article .information{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 45px 10px;
    gap: 20px;
}

.information h1{
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-family: poppins, sans-serif;
    font-weight: 600;
}

.information p{
    font-size: 14px;
    line-height: 1.7;
}

.information button{
    width: 190px;
    border-radius: 30px;
    padding: 12px 0;
    font-size: 12px;
    border: none;
    color: var(--violet);
}

.information button:hover{
    color: white;
    cursor: pointer;
    background-color: var(--softmagenta);
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}


.social-media i{
    font-size: 15px;
    color: white;
    border-radius:50%;
    padding:  0.5em 0.6em;
    border: 1px solid white;
}

.social-media i:hover{
    color: var(--softmagenta);
    border-radius:50%;
    padding:  0.5em 0.6em;
    border: 1px solid var(--softmagenta);
}

@media (min-width: 768px){
    main{
        background-image: url(./images/bg-desktop.svg);
    }

    article .information{
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        margin: 45px 10px;
        gap: 20px;
    }

    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    article{
        justify-content: space-between;
    }

    article .image-container img{
        max-width: 700px;
        width: 45vw;
    }

    article .information{
        width: 45vw;
    }

    .social-media{
        justify-content: flex-end; 
    }
}
